<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>전자봉투 확인하기</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="jumbotron">
        <div th:if="${message}">
            <script th:inline="javascript">
                /*<![CDATA[*/
                alert([[${message}]]);
                /*]]>*/
            </script>
        </div>

        <h4>전자봉투 확인하기</h4>

        <br/>
        <form>
            <div class="row mb-3">
                <label for="receiver" class="col-sm-3 col-form-label">수신자:</label>
                <div class="col-sm-9">
                    <input type="text" id="receiver" name="receiver" th:value="${verifySignDTO.receiver}" class="form-control" readonly disabled/>
                </div>
            </div>
            <br/>
            <div class="row mb-3">
                <label for="sender" class="col-sm-3 col-form-label">보낸 사람:</label>
                <div class="col-sm-9">
                    <input type="text" id="sender" name="sender" th:value="${verifySignDTO.sender}" class="form-control" readonly/>
                </div>
            </div>
            <div class="row mb-3">
                <label for="content" class="col-sm-3 col-form-label">내용:</label>
                <div class="col-sm-9">
                    <textarea id="content" name="content" rows="5" readonly th:text="${verifySignDTO.content}" class="form-control"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <label for="isVerified" class="col-sm-3 col-form-label">검증 여부:</label>
                <div class="col-sm-9">
                    <input type="text" id="isVerified" name="isVerified" th:value="${verifySignDTO.isVerified}"class="form-control" readonly/>
                </div>
            </div>
        </form>

    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>