<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>전자봉투 시스템</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="jumbotron">
        <div>
            <a href="#" th:href="@{/keys}"><h4>키 생성하기</h4></a>
        </div>
        <br/>
        <div>
            <a href="#" th:href="@{/envelopes}"><h4>전자봉투 보내기</h4></a>
        </div>
        <br/>
        <div>
            <a href="#" th:href="@{/envelopes/list}"><h4>전자봉투 확인하기</h4></a>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
