<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>전자서명 파일 생성</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="jumbotron">
        <div th:if="${message}">
            <script th:inline="javascript">
                /*<![CDATA[*/
                alert([[${message}]]);
                /*]]>*/
            </script>
        </div>

        <h2>전자서명 파일 생성</h2>

        <form action="#" th:action="@{/signs}" th:object="${createSignDTO}" method="post">
            <div>
                <label for="sender">전송자:</label>
                <input type="text" id="sender" name="sender" th:value="*{sender}" required />
            </div>
            <div>
                <label for="receiver">수신자:</label>
                <input type="text" id="receiver" name="receiver" th:value="*{receiver}" required />
            </div>
            <div>
                <label for="content">전송한 데이터:</label>
                <input type="text" id="content" name="content" th:value="*{content}" required />
            </div>
            <div>
                <button type="submit">전송</button>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>