<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>전자봉투 보내기</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="jumbotron">
        <div th:if="${message}">
            <script th:inline="javascript">
                /*<![CDATA[*/
                alert([[${message}]]);
                /*]]>*/
            </script>
        </div>

        <h4>전자봉투 보내기</h4>

        <br/>
        <form action="#" th:action="@{/envelopes}" th:object="${createSignDTO}" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label for="sender" class="col-sm-4 col-form-label">전송자:</label>
                <div class="col-sm-8">
                    <input type="text" id="sender" name="sender" th:value="*{sender}" class="form-control" required />
                </div>
            </div>
            <div class="row mb-3">
                <label for="receiver" class="col-sm-4 col-form-label">수신자:</label>
                <div class="col-sm-8">
                    <input type="text" id="receiver" name="receiver" th:value="*{receiver}" class="form-control" required />
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputType" class="col-sm-4 col-form-label">전송할 데이터 유형:</label>
                <div class="col-sm-8">
                    <select id="inputType" name="inputType" class="form-control" onchange="toggleInput()" required>
                        <option value="">데이터 유형을 선택하세요</option>
                        <option value="file">파일 업로드</option>
                        <option value="text">데이터 입력</option>
                    </select>
                </div>
            </div>
            <div id="fileInput" style="display: none;">
                <div class="row mb-3">
                    <label for="file" class="col-sm-4 col-form-label">전송할 문서:</label>
                    <div class="col-sm-8">
                        <input type="file" id="file" name="file" class="form-control" />
                    </div>
                </div>
            </div>

            <div id="textInput" style="display: none;">
                <div class="row mb-3">
                    <label for="content" class="col-sm-4 col-form-label">전송할 데이터:</label>
                    <div class="col-sm-8">
                        <input type="text" id="content" name="content" class="form-control" />
                    </div>
                </div>
            </div>
            <br/>
            <div>
                <button type="submit" class="btn btn-primary">전송</button>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>

<script>
    function toggleInput() {
        const inputType = document.getElementById('inputType').value;
        const fileInput = document.getElementById('fileInput');
        const textInput = document.getElementById('textInput');
        if (inputType === 'file') {
            fileInput.style.display = 'block';
            textInput.style.display = 'none';
        } else if (inputType === 'text') {
            fileInput.style.display = 'none';
            textInput.style.display = 'block';
        } else {
            fileInput.style.display = 'none';
            textInput.style.display = 'none';
        }
    }
</script>
</body>
</html>